{% extends 'base-admin.html' %}
{% load static %}
{% load auth_tag %}
{% block title %}Home Page{% endblock title %}
{% block css %}{% endblock css %}
{% block content %}
<div class="content-wrapper">
   <!-- Content Header (Page header) -->
   <div class="content-header">
      <div class="container-fluid">
         {% include "messages-bootstrap.html" %}
         <div class="row mb-2">
            <div class="col-sm-6">
               <h1 class="m-0">Dashboard</h1>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
               <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item"><a href="#">Home</a></li>
                  <li class="breadcrumb-item active">Dashboard</li>
               </ol>
            </div>
            <!-- /.col -->
         </div>
         <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
   </div>
   <!-- /.content-header -->
   <!-- Main content -->
   <section class="content">
      <div class="container-fluid">
         <!-- Small boxes (Stat box) -->
         <div class="row">
            <div class="col-lg-2 col-6">
               <!-- small box -->
               <div class="small-box bg-success">
                  <div class="inner">
                     <h3>{{total_backoffice_users}}</h3>
                     <p>Backoffice Users</p>
                  </div>
                  <div class="icon">
                  </div>
                  <a href="{% url 'backoffice:backoffice_users' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
               </div>
            </div>
            <div class="col-lg-2 col-6">
               <!-- small box -->
               <div class="small-box bg-success">
                  <div class="inner">
                     <h3>{{total_backoffice_active_users}}</h3>
                     <p>Active Users</p>
                  </div>
                  <div class="icon">
                  </div>
                  <a href="{% url 'backoffice:backoffice_users' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
               </div>
            </div>
            <div class="col-lg-2 col-6">
               <!-- small box -->
               <div class="small-box bg-success">
                  <div class="inner">
                     <h3>{{total_backoffice_non_active_users}}</h3>
                     <p>Deactive Users</p>
                  </div>
                  <div class="icon">
                     <!-- <i class="ion ion-person-add"></i> -->
                  </div>
                  <a href="{% url 'backoffice:backoffice_users' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
               </div>
            </div>
         </div>
         <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
   </section>
   <!-- /.content -->
</div>
{% endblock content %}
{% block script %}{% endblock script %}