{%extends "layouts/base.html"%}

{%block main%}

<div class="flex">
    <div class="sidebar">

        <div class="menu">
            <a href="/"><img style="max-width:90%;" src="/static/BeaglebazaarTM.png" alt="" class="src"></a>
            <br>
            <!-- <a href="http://192.168.0.20:7002/" class="btn" style="margin-top: 17px;"> -->
            <a href="{{MARKET_URL}}" class="btn" style="margin-top: 17px;">
                <b>Beagle Bazaar</b>
            </a>
            <a href="{{FINTECH_URL}}" class="btn">
                <b>Beagle Fintech</b>
            </a>
            <a href="/accounts/login" class="btn">
                <b>Login</b>
            </a>
            <a href="/accounts/register" class="btn">
                <b>Register</b>
            </a>
            <a href="/accounts/password_reset" class="btn">
                <b>Forgot Password</b>
            </a>
        </div>
    </div>

    <div class="content">
        {%block content%}
        {%endblock content%}
    </div>
</div>

<link rel="stylesheet" href="/static/sidebar.css">
{%endblock main%}
